/* Скидання стилів */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Шапка */
header {
  background-image: url("banner.jpg");
  background-size: cover;
  height: 200px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.069);
  padding-bottom: 200px;
}

.logo {
  margin-left: 100px;
}

.logo img {
  width: 150px;
}

.on_image {
    margin-bottom: 10px;
    font-size: 52px;
}

.p_on_image {
  margin-bottom: 20px;
  font-size:30px;
}

.image-container {
  text-align: center;
}

.image-container img {
  display: flex;
  margin: auto;
  max-width: 100%;
}

.counter {
  margin-right: 100px;
  color: #040159;
}

.counter h1 {
  margin-bottom: 10px;
  font-size: 36px;
}



#amount {
  font-size: 44px;
  font-weight: bold;
}

/* Розділ "Приєднуйтесь" */
.join {
  background-color: #f5f5f5;
  padding: 40px 20px;
  margin-top: 20px;
  text-align: center;
}

.join h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.join p {
  font-size: 16px;
  margin-bottom: 20px;
}

.join a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0073b7;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

/* Розділ "Волонтери" */
.volunteers {
  padding: 40px 20px;
}

.volunteers h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#volunteers-list {
  list-style: none;
  padding: 0;
}

#volunteers-list li {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

#volunteers-list li h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

#volunteers-list li p {
  font-size: 16px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}